/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #FFC2E6;
  --title-color: #FFC2E6;
  --subtitle-bg-color: #FF8DCB;
  --subtitle-text-color:#353430;
  --text-color-on-bg: #353430;
  --card-text-color: #353430;
  --decor-color: #353430;
  --shadow-color: #FF8DCB;
  --btn-color: #353430;
  --btn-hover-color: #32312D66;
  --btn-focus-color: #353430;
  --focus-color: #353430;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

:root.theme-light .decor__element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url('../images/cover-image-light.png');
    --bg-color: #FFC2E6;
    --title-color: #FFC2E6;
    --subtitle-bg-color: #FF8DCB;
    --subtitle-text-color:#353430;
    --text-color-on-bg: #353430;
    --card-text-color: #353430;
    --decor-color: #353430;
    --shadow-color: #FF8DCB;
    --btn-color: #353430;
    --btn-hover-color: #32312D66;
    --btn-focus-color: #353430;
    --focus-color: #353430;

  }
  
  .theme-auto .decor__element { 
    display: none; 
  }

}