/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-color: var(--bg-color);
  background-size: cover; 
  background-repeat: no-repeat;
  max-width: 375px;
}

.header {
  height: 100vh;
  min-height: 668px;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: minmax(0, 1fr);
  display: grid;
  position: relative;
  padding: 10px;
}

.decor__element {
  position: absolute;
  top: 10px;
  right: 10px;
  padding-right: 25px;
  font-family: var(--font-main);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  letter-spacing: 0%;
  text-align: center;
  color: var(--decor-color);
  text-transform: uppercase;
}

.decor__element::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--decor-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--shadow-color);
  position: absolute;
  top: 9px;
  right: 9px;
}


.header__theme-menu {
  justify-self: end;
  padding: 65px 0px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.main__title {
  align-self: center;
  justify-self: start;
  color: var(--title-color);
  font-family: var(--font-main);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-title);
  text-shadow: 4px 4px 0 var(--shadow-color);

}

.header__text {
  justify-self: start;
  align-self: center;
  max-width: 100%;
  background-color: var(--subtitle-bg-color);
  font-family: var(--font-main);
  font-weight: var(--font-weight-bold);
  color: var(--text-color-on-bg);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  letter-spacing: 0%;
}

.card__title {
  font-family: var(--font-main);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  letter-spacing: 0%;
  color: var(--subtitle-text-color);
  margin-bottom: 20px;
}

.card__subtitle {
  font-family: var(--font-main);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  letter-spacing: 0%;
  color: var(--text-color-on-bg);
  background-color: var(--subtitle-bg-color);
  margin-bottom: 10px;
}

.card__text {
  font-family: var(--font-main);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  letter-spacing: 0%;
  color: var(--card-text-color);
  padding-bottom: 20px;
}

.card__subtitle.card__subtitle_type_advice {
  font-weight: var(--font-weight-regular);
}


.main {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: min-content;
  gap: 30px;
  padding: 10px;
  padding-top: 40px;
}

.card__image {
  display: grid;
  gap: 10px;
  min-width: 0;
}

.card__image-image {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  gap: 10px;
}


.footer .main__title {
  text-shadow: 2px 2px 0 var(--shadow-color);
}

.footer {
  position: relative;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.decorated-zone::after,
.decorated-zone::before {
  width: 25px;
  height: 25px;
  position: absolute;
  content: "";
}

.decorated-zone::after {
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
  top: 10px;
  right: 10px;
}

.decorated-zone::before {
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
  bottom: 10px;
  left: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: lowercase;
  font-family: var(--font-main);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--btn-color);
  display: flex;
  width: 70px;
  height: 26px;
  justify-content: center;
  align-items: center;

}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  outline: 1px solid var(--btn-hover-color);

}

.header__theme-menu-button:not(.header__theme-menu-button_active):focus-visible {
  outline: none;
  text-decoration: underline;
  text-decoration-color: var(--btn-focus-color);
  text-underline-offset: 3px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--btn-color);
  pointer-events: none;
}

.card__text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--shadow-color);
}

.card__text-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.card__text-link:focus-visible {
  outline: 1px solid var(--focus-color);
}

.card__subtitle-diff {
  margin-bottom: 20px;
}

@media (width >=768px) {
  .page {
    max-width: 768px;
    }
  
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 155px;
    padding: 20px;
    padding-left: 0px;
    min-height: 1024px;
  }

  .main__title {
    align-self: start;
    margin-top: 25px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main {
    padding: 20px;
    padding-top: 60px;
    gap: 60px;
  }

  .card_type_difficulty,
  .card_type_advice {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: start;
  }

  .card_type_difficulty .card__content,
  .card_type_advice .card__content {
    grid-column: 2;
  }

  .card_type_factors {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: start;
  }

  .card_type_factors .card__title {
    max-width: 236px;
    margin-bottom: 0;
  }


  .card_type_factors .card__factor {
    display: flex;
    flex-direction: column;
    min-width: 0;
  }

  .card_type_factors .card__content {
    grid-column: 1;
    display: grid;
  }

  .card__title {
    max-width: 236px;
    margin-bottom: 0px;
  }

  .header__text {
    max-width: 364px;
    align-self: end;
  }

  .header__theme-menu {
    align-self: end;
    padding: 0px;
  }

  .decorated-zone::after,
  .decor__element {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .footer {
    min-height: 1024px;
  }

  .footer .main__title {
    align-self: center;
  }

    .footer.decorated-zone::after {
    top: 30px;
  }

  .footer.decorated-zone::before {
    bottom: 10px;
  }
  
  .card__image {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .card__image-image {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
}

  .card__image li:nth-child(1) {
    grid-column: span 2;
  }

  .card__image li:nth-child(2) {
    grid-row: span 2;
  }

  .card__image li:nth-child(3) {
    grid-row: span 2;
  }
  
  .card__image li:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .card__image li:nth-child(5) {
    grid-column: span 2;
  }

  .card_pictures .card__subtitle {
    margin-bottom: 20px;
  }
}

@media (width >=1024px) {

  .page {
    max-width: 1024px;
    }

  .header {
    display: grid;
    min-height: 768px;
    gap: 0px;
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
    margin-left: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__text {
    max-width: 491px;
    justify-self: end;
    align-self: center; 
  }

  .main__title {
    margin-top: 10px;
  }

  .card__title {
    max-width: 315px;
  }

  .card_type_difficulty,
  .card_type_advice {
    gap: 8px;
  }

  .card_type_factors .card__title {
    max-width: 315px;
  }

  .card_type_factors .card__content {
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
    align-items: start;
  }

  .footer {
    min-height: 768px;
  }


}
