/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-color: #000028;
  background-size: cover; 
  background-repeat: no-repeat;
  max-width: 375px;
}

.header {
  height: 100vh;
  min-height: 668px;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: minmax(0, 1fr);
  display: grid;
  position: relative;
  padding: 10px;
}

.decor__element {
  position: absolute;
  top: 10px;
  right: 10px;
  padding-right: 25px;
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
  color: #FF0070;
}

.decor__element::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: #FF0070;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #FF0070;
  position: absolute;
  top: 9px;
  right: 9px;
}


.header__theme-menu {
  justify-self: end;
  padding: 65px 0px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.main__title {
  align-self: center;
  justify-self: start;
  color: #db00ff;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--accent-color);

}

.header__text {
  justify-self: start;
  align-self: center;
  max-width: 100%;
  background-color: var(--accent-color);
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 700;
  color: #000028;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.card__title {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: #FF0070;
  margin-bottom: 20px;
}

.card__subtitle {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: #000028;
  background-color: var(--accent-color);
  margin-bottom: 10px;
}

.card__text {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: #F1B2CE;
  padding-bottom: 20px;
}

.card__subtitle.card__subtitle_type_advice {
  font-weight: 400;
}


.main {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: min-content;
  gap: 30px;
  padding: 10px;
  padding-top: 40px;
}

.card__image {
  display: grid;
  gap: 10px;
  min-width: 0;
}

.card__image-image {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  gap: 10px;
}


.footer .main__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.footer {
  position: relative;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header::after,
.header::before {
  width: 25px;
  height: 25px;
  position: absolute;
  content: "";
}

.header::after {
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;
  top: 10px;
  right: 10px;
}

.header::before {
  border-bottom: 1px solid #FF0070;
  border-left: 1px solid #FF0070;
  bottom: 10px;
  left: 10px;
}

.footer::after,
.footer::before {
  width: 25px;
  height: 25px;
  position: absolute;
  content: "";
}

.footer::after {
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;
  top: 10px;
  right: 10px;
}

.footer::before {
  border-bottom: 1px solid #FF0070;
  border-left: 1px solid #FF0070;
  bottom: 10px;
  left: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: lowercase;
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  color: #FF0070;
  display: flex;
  width: 70px;
  height: 26px;
  justify-content: center;
  align-items: center;

}

.header__theme-menu-button_active {
  border: 1px solid #FF0070;
}

.card__text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.card__text-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.card__subtitle-diff {
  margin-bottom: 20px;
}

@media (width >=768px) {
  .page {
    max-width: 768px;
    }
  
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 155px;
    padding: 20px;
    padding-left: 0px;
  }

  .main__title {
    align-self: start;
    margin-top: 25px;
  }

  .header__text {
    max-width: 364px;
    align-self: end;
  }

  .header__theme-menu {
    align-self: end;
  }

  .header__theme-menu {
    padding: 0px;
  }

  .header::after,
  .footer::after,
  .decor__element {
    top: 20px;
    right: 20px;
  }

  .header::before,
  .footer::before {
    bottom: 20px;
    left: 20px;
  }

}

