/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --title-color: #DB00FF;
  --subtitle-bg-color: #FF0070;
  --subtitle-text-color:#FF0070;
  --dark-text-color: #000028;
  --card-text-color: #F1B2CE;
  --decor-color: #FF0070;
  --shadow-color: #FF0070;
  --btn-color: #FF0070;
  --btn-hover-color: #FF007066;
  --btn-focus-color: #FF0070;
  --focus-color: #f1b2ce;
  --font-main: 'IBM Plex Mono', sans-serif;
  --font-size-base: 18px;
  --line-height-base: 23.4px;
  --line-height-title: 0.83;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}